body {
    background: #FFFFFF;
    transition: background 0.5s cubic-bezier(0.4, 0.4, 0, 1);
}

#index {
    -webkit-transition: none;
    transition: none;
}

.canvas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    min-height: 100vh;
    align-content: center;
    background: #FFFFFF;
    border-radius: 0;
    box-shadow: ;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
    margin: 0 0 0 0;
    opacity: 1;
    overflow-y: auto;
    padding: 0px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
}

header {
    background: rgba(255, 255, 255, 0.97);
    left: 0px;
    opacity: 1;
    padding: 16px 0px 16px 0px;
    position: fixed;
    right: 0px;
    top: 0px;
}

.header-div {
    margin: 0px 40px 0px;
}

.header-div1 {
    display: block;
    float: left;
}

.header-div2 a, .header-div2 p{
   display: block;
   margin-left: 150px;
   float: left;
}

.header-div3 a {
    display: block;
    float: right;
    margin-left: 20px;
}

.one {
    padding: 76px 0px 0px;
    width: 100%;
    max-width: 100%;
}

.one-div1 {
    margin: 100px 200px 0px;
}

.one-div1 h1 {
    color: #999999;
    font-size: 26px;
    height: auto;
    line-height: 1.4;
    margin-left: 300px;
}

.one-div1 h2 {
    line-height: 1;
    font-size: 76px;
    text-align: center;
}

.one-div1 p{
    font-size: 26px;
    line-height: 1.4;
    text-align: center;
}

.one-div1 div {
    padding: 40px 0px 30px 0px;
}

.one-div2 {
    margin: 100px 200px 80px;
    width: 980px;
}

.one-div2 h2{
    line-height: 1.2;
    font-size: 76px;
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.one-div2 p {
    font-size: 20px;
    line-height: 1.8;
    padding: 0px 20px 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: center;
}

.two {
    background: linear-gradient(90deg, #111111, #333333);
    background-color: #111111;
    padding: 140px 0px 120px 0px;
    width: 100%;
    max-width: 100%;
}

.two h2 {
    color: #ffffff;
    font-size: 48px;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.two h3 {
    color: #FFFFFF;
    font-size: 76px;
    line-height: 1.1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.two p {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 1.5;
    padding: 0px 0px 0px;
}

.left-div {
    margin: 0px 40px 0px 70px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 30%;
    max-width: 30%;
    display: block;
    float: left;
}

.center-div {
    margin: 0px 0px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 30%;
    max-width: 30%;
    display: block;
    float: left;
}

.right-div {
    margin: 0px 0px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 30%;
    max-width: 30%;
    display: block;
    float: right;
}

.two-div2 .bottom-div {
    margin: 60px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 40px 0px 40px 0px;
    width: 100%;
    max-width: 100%;
    text-align: center;
}


.left-div h3, .center-div h3, .right-div h3, .bottom-div h3 {
    font-size: 30px;
}

.left-div p, .center-div p, .right-div p, .bottom-div p {
    font-size: 16px;
}

#left_h3 {
    margin-left: 100px;
}

#left_p {
    margin-left: 500px;
}

#left_a{
    margin-left: 600px;
}

.three {
    margin-top: 100px;
    height: 1550px;
}

.three-div1 h2 {
    color: rgba(17, 17, 17, 0.6);
    font-size: 48px;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.three-div1 h3 {
    font-size: 76px;
    line-height: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    text-align: center;
}

.three-div1 p {
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
}

.four {
    align-content: center;
    align-items: center;
    background: linear-gradient(90deg, #00041e, #000946);
    height: 900px;
    padding: 140px 0px 100px 0px;
    width: 100%;
    max-width: 100%;
}

.four h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 48px;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.four h3 {
    color: #FFFFFF;
    font-size: 76px;
    line-height: 1.1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.four p {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 1.5;
    width: 658px;
}

.four .left-div h3, .four .center-div h3, .four .right-div h3 {
    font-size: 30px;
}

.four .left-div p, .four .center-div p, .four .right-div p {
    font-size: 16px;
}

.five {
    background: #fafafa;
    border-radius: 40px;
    margin: 80px 40px 0px;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 120px 0px 0px 0px;
}

.five h2 {
    font-size: 44px;
    line-height: 1.2;
    margin: 0px 0px 20px 0px;
    opacity: 1;
    text-align: center;
}

.five p{
    font-size: 20px;
    height: 56px;
    line-height: 1.4;
    text-align: center;
}

footer {
    padding: 80px 0px 0px 0px;
}

.left-footer {
    display: block;
    float: right;
}

.right-footer {
    float: left;
}