body {
    background: #FFFFFF;
    transition: background 0.5s cubic-bezier(0.4, 0.4, 0, 1);
}

#index {
    -webkit-transition: none;
    transition: none;
}

.canvas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    min-height: 100vh;
    align-content: center;
    background: #FFFFFF;
    border-radius: 0;
    box-shadow: ;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
    margin: 0 0 0 0;
    opacity: 1;
    overflow-y: auto;
    padding: 0px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
}

header {
    background: rgba(255, 255, 255, 0.97);
    left: 0px;
    opacity: 1;
    padding: 16px 0px 16px 0px;
    position: fixed;
    right: 0px;
    top: 0px;
}

.header-div {
    margin: 0px 40px 0px;
}

.header-div1 {
    display: block;
    float: left;
}

.header-div2 a, .header-div2 p{
   display: block;
   margin-left: 150px;
   float: left;
}

.header-div3 a {
    display: block;
    float: right;
    margin-left: 20px;
}

.one {
    padding: 76px 0px 0px;
    width: 100%;
    max-width: 100%;
}

.one-div1 {
    margin: 100px 200px 0px;
}

.one-div1 h1 {
    color: #999999;
    font-size: 26px;
    height: auto;
    line-height: 1.4;
    text-align: center;
}

.one-div1 h2 {
    line-height: 1;
    font-size: 76px;
    text-align: center;
}

.one-div1 p{
    font-size: 26px;
    line-height: 1.4;
    text-align: center;
}

.one-div1 div {
    text-align: center;
}

.one-div2 {
    margin: 100px 200px 80px;
    width: 980px;
}

.one-div2 h2{
    line-height: 1.2;
    font-size: 76px;
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.one-div2 p {
    font-size: 20px;
    line-height: 1.8;
    padding: 0px 20px 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: center;
}

.two {
    background: linear-gradient(90deg, #111111, #333333);
    background-color: #111111;
    padding: 140px 0px 120px 0px;
    width: 100%;
    max-width: 100%;
}

.two div {
    text-align: center;
}

.two h2 {
    color: #ffffff;
    font-size: 48px;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.two h3 {
    color: #FFFFFF;
    font-size: 76px;
    line-height: 1.1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.two p {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 1.5;
    padding: 0px 0px 0px;
}

.left-div {
    margin: 0px 40px 0px 70px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 30%;
    max-width: 30%;
    display: block;
    float: left;
}

.center-div {
    margin: 0px 0px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 30%;
    max-width: 30%;
    display: block;
    float: left;
}

.right-div {
    margin: 0px 0px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 30%;
    max-width: 30%;
    display: block;
    float: right;
}

.two-div2 .bottom-div {
    margin: 60px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 40px 0px 40px 0px;
    width: 100%;
    max-width: 100%;
    text-align: center;
}


.left-div h3, .center-div h3, .right-div h3, .bottom-div h3 {
    font-size: 30px;
}

.left-div p, .center-div p, .right-div p, .bottom-div p {
    font-size: 16px;
}

.three {
    margin-top: 100px;
    height: 1550px;
}

.three-div1 h2 {
    color: rgba(17, 17, 17, 0.6);
    font-size: 48px;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.three-div1 h3 {
    font-size: 76px;
    line-height: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    text-align: center;
}

.three-div1 p {
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
}

.four {
    align-content: center;
    align-items: center;
    background: linear-gradient(90deg, #00041e, #000946);
    height: 900px;
    padding: 140px 0px 100px 0px;
    width: 100%;
    max-width: 100%;
}

.four div {
    text-align: center;
}

.four h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 48px;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.four h3 {
    color: #FFFFFF;
    font-size: 76px;
    line-height: 1.1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.four p {
    margin-left: 400px;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 1.5;
    width: 658px;
}

.four .left-div h3, .four .center-div h3, .four .right-div h3 {
    font-size: 20px;
}

.four .left-div p, .four .center-div p, .four .right-div p {
    font-size: 10px;
}

.five {
    background: #fafafa;
    border-radius: 40px;
    margin: 80px 40px 0px;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 120px 0px 0px 0px;
}

.five h2 {
    font-size: 44px;
    line-height: 1.2;
    margin: 0px 0px 20px 0px;
    opacity: 1;
    text-align: center;
}

.five p{
    font-size: 20px;
    height: 56px;
    line-height: 1.4;
    text-align: center;
}

footer {
    padding: 80px 0px 0px 0px;
}

.left-footer {
    display: block;
    float: right;
}

.right-footer {
    float: left;
}

/*about.html*/
.about-one {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: space-between;
    margin: 120px 40px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 980px;
    max-width: calc(100% - 80px);
}

.about-one-div1 {
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.about-one-div1 h2 {
    color: rgba(255, 255, 255, 0.6);
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    height: auto;
    line-height: 1.2;
    margin: 0px 0px 0px 70px;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
}

.about-one-div1 h3 {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 82px;
    font-weight: 900;
    height: auto;
    line-height: 1.1;
    margin: 0px 0px 0px 300px;
    padding: 0px 0px 20px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-one-div1 p {
    color: #FFFFFF;
    flex: none;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    height: auto;
    line-height: 1.5;
    margin: 0px 0px 100px 200px;
    padding: 0px 0px 0px;
    text-align: center;
    width: 620px;
    max-width: 100%;
    justify-content: center;
}

.about-three {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin: 0px 40px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px 0px;
    width: 1200px;
    max-width: calc(100% - 80px);
}

.about-three-sec {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    border-radius: 0;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px 40px 0px 350px;
    padding: 30px 0px 0px;
    width: 1200px;
    max-width: calc(100% - 80px);
}

.about-three-sec div {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 60px 0px 40px 0px;
    width: 500px;
    max-width: 100%;
}

.about-three-sec p {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    height: auto;
    line-height: 1.4;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
}

#otherp {
    color: #aaaaaa;
    font-family: Lato;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    height: auto;
    margin: 20px 0px 0px 0px;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
}

.about-three-div1 {
    align-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.5);
    border-radius: 8px;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 80px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 40px 0px 40px 60px;
    width: 100%;
    max-width: 100%;
}

.about-three-div1 div {
    display: block;
    float: left;
    align-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    width: 450px;
    max-width: 100%;
}

.about-three-div1 h3 {
    color: rgba(255, 255, 255, 0.81);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 1.1;
    margin: 0px 0px 10px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div1 p {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 44px;
    font-weight: 900;
    height: auto;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div1 img {
    display: block;
    float: right;
    margin: 120px 200px 100px 0px;
}

#div1-otherp {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    line-height: 1.4;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div2 {
    display: block;
    float: left;
    align-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.5);
    border-radius: 8px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 40px 20px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px 0px 0px;
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.about-three-div2 div {
    align-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 80px 60px 30px 60px;
    width: 450px;
    max-width: calc(100% - 120px);
}

.about-three-div2 h3 {
    color: rgba(255, 255, 255, 0.81);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 1.1;
    margin: 0px 0px 10px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div2 p {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 38px;
    font-weight: 900;
    height: auto;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

#div2-otherp {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    line-height: 1.4;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div3 {
    align-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.5);
    border-radius: 8px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 650px;
    justify-content: center;
    margin: 40px 0px 0px 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px 0px 0px;
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.about-three-div3 div {
    align-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 80px 60px 30px;
    width: 450px;
    max-width: calc(100% - 120px);
}

.about-three-div3 h3 {
    color: rgba(255, 255, 255, 0.81);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 1.1;
    margin: 0px 0px 10px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div3 p {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 38px;
    font-weight: 900;
    height: auto;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

#div3-otherp {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    line-height: 1.4;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div4 {
    display: block;
    float: right;
    align-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.5);
    border-radius: 8px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 40px 20px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px 0px 0px;
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.about-three-div4 div {
    align-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 80px 60px 30px 60px;
    width: 450px;
    max-width: calc(100% - 120px);
}

.about-three-div4 h3{
    color: rgba(255, 255, 255, 0.81);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 1.1;
    margin: 0px 0px 10px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div4 p{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 38px;
    font-weight: 900;
    height: auto;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

#div4-otherp {color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    line-height: 1.4;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div5 {
    display: block;
    float: left;
    align-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.5);
    border-radius: 8px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 40px 20px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px 0px 0px;
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.about-three-div5 div{
    align-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 80px 60px 30px 60px;
    width: 450px;
    max-width: calc(100% - 120px);
}

.about-three-div5 h3{
    color: rgba(255, 255, 255, 0.81);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 1.1;
    margin: 0px 0px 10px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.about-three-div5 p{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 38px;
    font-weight: 900;
    height: auto;
    line-height: 1.2;
    margin: 0px 0px 15px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

#div5-otherp {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    line-height: 1.4;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.div-image {
    margin: 50px 0px 50px 110px; 
}

/*Learn.html*/
.learn-div1 {
    text-align: center;
    margin: 200px 0px 100px 0px;
}

.learn-div1 h2 {
    display: block;
    margin: 0 0 16px;
    line-height: 26px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #0c0c0c;
}

.learn-div1 h3 {
    margin: 0 -75px 15px;
    line-height: 80px;
    font-size: 70px;
    letter-spacing: -1.2px;
}

.learn-div1 p, .learn-div3 p {
    margin: 0 0 14px;
    line-height: 26px;
    font-size: 16px;
}

.learn-div3 {
    margin: 0px 100px 50px 400px;
    max-width: 670px;
}

.learn-div3 h3 {
    line-height: 42px;
    font-size: 32px;
}

/*Career.html*/

.career-div1 {
    text-align: center;
    margin: 200px 0px 100px 0px;
}

.career-div1 h2 {
    color: #FFFFFF;
    display: block;
    margin: 0 0 16px;
    line-height: 26px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}

.career-div1 h3 {
    color: #FFFFFF;
    margin: 0 -75px 15px;
    line-height: 80px;
    font-size: 70px;
    letter-spacing: -1.2px;
}

.career-div1 p {
    color: #FFFFFF;
    margin: 0 0 14px;
    line-height: 26px;
    font-size: 16px;
}

.career-sec {
    display: block;
    float: right;
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 60px 0px 40px 0px;
    width: 500px;
    max-width: 100%;
}

.career-sec p {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    height: auto;
    line-height: 1.4;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
}

.career-sec #otherp {
    color: #aaaaaa;
    font-family: Lato;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    height: auto;
    margin: 20px 0px 0px 0px;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
}

.image {
    border-radius: 6px;
    flex: none;
    height: 500px;
    margin: 0px 0px -60px -300px;
    opacity: 1;
    width: 800px;
    max-width: 100%;
    display: block;
    float: left;
}

.career-three {
    margin: 700px 0px 0px 100px;
}

.career-three h3 {
    color: #FFFFFF;
}

.career-three p {
    color: #aaaaaa;
}

.career-three-div2{
    margin: 100px 0px 0px 100px;
}

.career-three-div3 .bottom-div {
    margin-top: 200px;
    text-align: center;
}

/*blog.html*/

.blog-div1 {
    margin: 200px 0px 0px 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.blog-div2 {
    margin: 100px 0px 0px 100px;
    text-align: center;
}

.blog-div3 {
    margin: 100px 0px 0px 100px;
    text-align: center;
}

.blog-grid time {
    margin: 250px 100px 0px 100px;
}

.blog-grid h3 {
    margin: 50px 0px 0px 50px;
}